<div id="requestContainer" data-weblink="{{data.weblink}}">
{{#each data.userRequests}}
<div class="py-3 col-md-12">
    <div class="cenAlign ctxt insideBorder btnBg">
        <div class="">
            <h3 class="border-below" name="seedOffer-seedName">{{username}}</h3>
            <p class="" name="seedDescription">{{mailing}}</p>
        </div>
        <div>

            <button class="btn btn-info accountBtns" data-userid="{{userID}}">
                {{#if alreadySent}}
                Already Sent
                {{else}}
                Inform Sent
                {{/if}}
            </button>
        </div>
    </div>
</div>
{{/each}}
</div>
<script src="/js/checkRequests.js"></script>